on: [push]

name: Compile for all targets

jobs:
  linux_build:
    name: Linux Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - aarch64-unknown-linux-gnu
          - x86_64-unknown-linux-gnu
    steps:
      - uses: actions/checkout@v2
      - name: Download latest keywords
        shell: bash
        run: |
          curl -H "x-api-version: v2" https://${{ secrets.KEYWORDS_API_CREDENTIALS }}@api.kokocares.org/keywords > src/keywords.json
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
          override: true
      - uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --release --target=${{ matrix.target }}
      - uses: actions/upload-artifact@v2
        with:
          name: lib
          path: target/**/release/*.so
  darwin_build:
    name: Darwin Build
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-apple-darwin
          - aarch64-apple-darwin
    steps:
      - uses: actions/checkout@v2
      - name: Download latest keywords
        shell: bash
        run: |
          curl -H "x-api-version: v2" https://${{ secrets.KEYWORDS_API_CREDENTIALS }}@api.kokocares.org/keywords > src/keywords.json
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
          override: true
      - uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --release --target=${{ matrix.target }}
      - uses: actions/upload-artifact@v2
        with:
          name: lib
          path: target/**/release/*.dylib
